.hidden {
    display: none;
}

.correct {
    background: #4ee13d;
}

.wrong {
    background: #ff0000;
    list-style-type:square;
}

#container {
    width: 600px;
    height: 600px;
    background-color: #F0F8FF;
    border: 2px solid black;
    padding: 10px 10px 10px 20px;
    margin: 25px auto;

}

.blacken {
    background-color: #605c5c;
}

li {
    transition: background-color 0.6s ease;
}

li:hover {
    background-color: #c1bbbb;
}

.wrong:hover {
    background: #e10d0d;
}

.correct:hover {
    background: #36942b;
}
